@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Store</h1>
    <p class="lead">This is a Xbox game online store</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Xbox Game</h2>
        <p>
            Hello there, this is the website for Xbox Game online store, the records of customers and orders will show here.
        </p>
        
    </div>
    
</div>